#COMPREHENSION
What is it: It is used to reduce multiple lines and code statements into a single line of code(en)
Nedir:Birden fazla satır ve kod satırlarının  tek kod satırlarına indirgemek için kullanılır.(tr)

LIST COMPREHENSIONS

In [2]:
# eski yöntem hatırlatma(tr)
salaries = [1000, 2000, 3000, 4000]
def new_salary(x):
    return  x*20/100+x

for item in salaries:
    print(new_salary(item))

1200.0
2400.0
3600.0
4800.0

In [3]:
# list comprehenison ile önce bir köşeli parantez
#salaries içerisndeki değerleri for ile dönüp her değeri 2 ile çarp
#yazarken soldan sağa doğru ilerler

[item *2 for item in salaries]

[2000, 4000, 6000, 8000]

In [4]:
#maaşı 3000.2den az olanları iki ile çarpalım.
#Eğer sadece if kullancaksa if forun sağında kalır
[item*2 for item in salaries if item<3000]

[2000, 4000]

In [5]:
#Eğer if-else kullanılacaksa forun soluna yazılırlar
[item *2 if item < 3000 else item*0 for item in salaries]

[2000, 4000, 0, 0]

In [7]:
#örnek 2:
#ex2

students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]
[item.lower() if item in students_no else item .upper() for item in students]

['john', 'MARK', 'venessa', 'MARIAM']

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number=[item for item in numbers if item % 2==0]
even_number[0]

2

Not:List comprehension genellikle bir listeyi doğrudan oluşturmak için kullanılır, bir yan etki (side effect) olarak listeye eleman eklemek için değil.

-----------------------------------------------------

DICTIONARY COMP.

In [ ]:
#Bir sözlük, anahtar-değer (key-value) çiftlerinden oluşur.
#Bir sözlük, anahtar-değer (key-value) çiftlerinden oluşur. 
#Bir sözlükte anahtarlar ve değerler üzerinde dolaşmak için .items() metodunu kullanırız.
#Bu yöntem, her bir anahtar-değer çiftini birer tuple olarak döndürür.

In [12]:
dict = { 'a':1,
         'b':2,
         'c':3,
         'd':4}

{k: v**2 for (k,v) in dict.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [13]:
{k.upper():v for (k,v) in dict.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [18]:
#example
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

#önce sayısal değerleri bir listeye seçelim(tr)
num_col =[item for item  in df.columns if df[item].dtype !="O"]

#gezerken sayısal değerleri seçmek için dtype object olmayanlar deriz(tr)
agg_list=["mean","max","min","sum"]
new_dict ={item : agg_list for item in num_col }

df[num_col].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [19]:
df[num_col].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000