print("hello world")

In [2]:
print("Ankara", "Üniversitesi", "Python", "Eğitimi")

Ankara Üniversitesi Python Eğitimi

In [3]:
num_1 =10
print(type(num_1))

<class 'int'>

In [4]:
name = 'fatma'
len(name)

5

In Python, case sensitivity matters. For example, number and NUMBER are different from each other.

In [5]:
number=10
NUMBER=11
print(number)
print(NUMBER)

10
11

FUNCTION

In [1]:
def summ1(arg1, arg2):
    print(arg1 + arg2)

summ1(2, 4)

6

In [4]:
# def = definition
def calculateCircleArea(r):
    pi=3.14
    area=pi*(r**2)
    return area
calculateCircleArea(10)

314.0

###### DOCSTRİNG #######

In [5]:
def summ2(arg1, arg2):
    """
    sum of two number
    :param arg1: int ,float
    :param arg2: int,float
    :return:
    int,float
    """
    print(arg1 + arg2)

summ2(2, 4)

6

A function that will store the entered values in a list

In [10]:
listStore = []

def listAdd(arg):
    listStore.append(arg)
    print(listStore)

listAdd(8)
print(listStore)

[8]
[8]

Predefined function

In [11]:
def divide(a, b = 1):
    print(a / b)

divide(1)

1.0

#Fonsiyon içersinde fonksiyon çağırma:

In [ ]:
def calculate(varm, moisture, charge):
    return int((varm + moisture)/charge)

calculate(98,34,86)*10

A comprehensive function example:

In [12]:
def calculate(varm, moisture, charge):
    return int((varm + moisture)/charge)

calculate(98,34,86)*10

def standarization(a, p):
    return  a * 10 / 100 * p * p

standarization(45,1)


def all_calculation(varm,moisture,charge,p):
    a=calculate(varm,moisture,charge)
    b=standarization(a,p)
    print(b*10)

all_calculation(50,36,84,12)

144.00000000000003

Lambda Func:

In [16]:
#The simplest example 
newSum = lambda a,b : a+b
newSum(7,8)

15

In [26]:
#If we use map, first let's call a list function to ensure the output is in list format.
salaries = [1000,2000,3000,4000,5000]

def nem_salary (x):
    return x*20/100+x
    
list(map(nem_salary, salaris))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [30]:
import numpy as np


data = np.array([1, 2, 3, 4, 5])

# Transition all data plus 10
transformed_data = np.array(list(map(lambda x: x + 10, data)))

print(transformed_data)

[11 12 13 14 15]

In [27]:
words = ["apple", "banana", "cherry"]

def to_uppercase(word):
    return word.upper()


uppercase_words = list(map(to_uppercase, words))

print(uppercase_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
prices = [100, 200, 300, 400]
#Converting prices to dollars per unit (for example, 1 unit = 0.5 dollars).
# Fiyatları birim cinsinden dolara çevirme (örneğin, 1 birim = 0.5 dolar)
dollar_prices = list(map(lambda x: x * 0.5, prices))

In [25]:
#let's so this with lambda func.
salaries = [1000,2000,3000,4000,5000]
list(map(lambda x: x*20 /100 + x ,salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [28]:
#Filter: 
list_Store = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda  x : x %  2 == 0,list_Store))

[2, 4, 6, 8, 10]

In [29]:
#Reduce
from functools import  reduce
list_Store =[1,2,3,4]
reduce(lambda  a, b: a + b, list_Store)

10

Loops

In [31]:
students = ["John","Mark","Vanessa","Mariam"]
for item in students:
    print(item.upper())

JOHN
MARK
VANESSA
MARIAM

In [36]:
salary = [1200,1400,1500,1600]
new_salaries = []

def new_salary (salary,rate):
    return int(salary*rate/100+salary)

for item in salary :
    if item>= 1000:
        print(new_salary(item,35))
    else:
        print(new_salary(item,20))

for item1 in salary:
    new_salaries.append(new_salary(item1,25))

print(new_salaries)

1620
1890
2025
2160
[1500, 1750, 1875, 2000]

In [37]:
#IF,ELIF,ELSE
def number_check(number):
    if number == 10:
        print("number is 10")
    else:
        print("number is not 10")

number_check(18)

number is not 10

In [38]:
def number_check_2(number):
    if number >10 :
        print("greater than 10")
    elif number <10:
        print("less than 10")

    else:
        print("equal to 10")

number_check_2(54)

greater than 10

Enumarate

In [42]:
students = ["John", "Mark", "Venessa", "Mariana"]

A = []
B = []

for index,item in enumerate(students):
    if index % 2 ==0:
        A.append(item)
    else:
        B.append(item)

print(A)
print(B)

['Mark', 'Mariana']
['John', 'Venessa']

In [41]:
#Another example
import pandas as pd

# Örnek veri çerçevesi
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [24, 27, 22]}
df = pd.DataFrame(data)

# Satırların indeksleri ile birlikte işlenmesi
for index, row in enumerate(df.itertuples(), start=1):
    print(f"Row {index}: Name = {row.name}, Age = {row.age}")

Row 1: Name = Alice, Age = 24
Row 2: Name = Bob, Age = 27
Row 3: Name = Charlie, Age = 22

Data Structures(List,Dictionary,Tuple,Set)
#Not: Liste ,tuple,set ve dictionary veri yapıları aynı zamanda "Python Collections" (Arrays) olarak geçmektedir.

In [1]:
#List
X =["btc","eth","xrp"]
type(X)

list

In [3]:
#Dictionary
Y = {"name":"fatma",
   "Age": 24
  }
type(Y)

dict

In [4]:
X = ("python","ml","ds")
type(X)

tuple

In [5]:
Z = {"f","a","t"}
type(Z)

set

In [ ]:
###DICTIONARY###
##Değiştirilebilir,Kapsayıcı,Python 3.7 sonra sıralı hale geldi (Tr)

In [7]:
#key-value
dic = {"REG":["RMSE",10],
       "LOG": ["MSE",20]
}
dic["REG"]

['RMSE', 10]

In [8]:
dic_2 = {"REG":["RMSE",10],
         "LOG":["MSE",20]
}
dic_2["REG"][0]

'RMSE'

In [9]:
dic_3 = {"REG": 10,
         "LOG": 20
         }
dic_3["REG"]

10

In [13]:
#Key'e göre value erişme(tr)
dic["REG"]
dic.get("REG")

['RMSE', 10]

In [14]:
#Value Değiştirmek(tr)
dic["REG"] = ["regression"]
dic

{'REG': ['regression'], 'LOG': ['MSE', 20]}

In [15]:
#Tüm Keylere erişmek(tr)
dic.keys()

dict_keys(['REG', 'LOG'])

In [ ]:
#Tüm value'lara erişmek(tr)
dic.values()

In [16]:
#Tüm çiftleri tuple halinde listeye çevirme
dic.items()

dict_items([('REG', ['regression']), ('LOG', ['MSE', 20])])

In [17]:
#Key value değerini güncellemek
dic.update({"REG":11})
dic

{'REG': 11, 'LOG': ['MSE', 20]}

In [37]:
##LIST
#Mutable, Ordered, Indexable, and Inclusive.(en)
#Değiştirilebilir,Sıralıdır, Index İşlemleri Yapılabilir, Kapsayıcıdır

notes =[1,2,3,4]
names = ["a","hi"]
not_nam = [1,23,"d",True,[1,2,3]]

not_nam[0]
not_nam[4][1]
not_nam[0] = 99

In [ ]:
# listenin ikinci, üçüncü ve dördüncü elemanı
hafta[1:4] # hafta[x,y]: x = dahil, y = dahil değil

In [ ]:
# listenin ilk 4 elemanı
hafta[:4] # hafta[x,y]: x = dahil, y = dahil değil

In [47]:
number_list = [1,3,2,4,6,4,4,4]
number_list.remove(4) # istenilen elemanı çıkarır
number_list

[1, 3, 2, 6, 4, 4, 4]

In [48]:
number_list = [1,3,2,4,6,5]
number_list.reverse() # listeyi ters çevirir
number_list

[5, 6, 4, 2, 3, 1]

In [49]:
sayı_listesi = [1,3,2,4,6,5]
sayı_listesi.sort() # listeyi küçükten büyüğe sıralar

In [39]:
dir(notes)
len(notes)
notes.append(32)
notes

[1, 2, 3, 4, 32, 32]

In [24]:
# pop: indexe göre siler(tr)
notes.pop(1)
notes

[1, 4, 32, 32]

In [43]:
##SET##
# Değiştirilebilir , Sırasız+Eşsiz, Kapsayıcı
#- Mutable, Unordered + Unique, and Inclusive.

#Those that are in set1 but not in set2.
set1 = set([1,3,5])
set2 = set([1,2,3])
set1.difference(set2)

{5}

In [44]:
#symmetric_difference(): İki kümede de birbirlerine göre olmayanlar
set1.symmetric_difference(set2)
set2.symmetric_difference(set1)

{2, 5}

In [46]:
#intersection(): İki kümenin kesişimi
set1.intersection(set2)

#union(): iki kümenin birleşimi
set1.union(set2)

# isdisjoint(): İki kümenin kesişimi boş mu?
set1.isdisjoint(set2)

#issuperset(): Bir küme diğer kümeyi kapsıyor mu?
set2.issuperset(set1)
set1.issuperset(set2)

False

In [ ]:
##TUPLE##
#Değiştirilemez,sıralıdır, kapsayıcıdır (birden farklı veri yapısını içermek demektir)(tr)
#Immutable, Ordered, and Inclusive (means it can contain multiple data structures)

tuple_veritipi = (1,2,3,3,14,5,6)
tuple_veritipi[4:]

In [52]:
number = (1,2,3,3,14,5,6)
number[4:] #include fourth index
#number[0]=7 #This code line gives us an error because we need to convert it to a list

(14, 5, 6)